*, 
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #000;
}

img {
  display: block;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

ul, ol {
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration-line: none;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding-block: 30px;
  background-image: linear-gradient(135deg, rgb(0, 183, 255), rgb(255, 48, 255));
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.logo{
  width: 200px;
  height: 100px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
}

.navbar-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
}

.active {
  background-image: linear-gradient(45deg, rgb(50, 182, 209), rgb(0, 81, 255));
  color: #fff;
}

.site-main{
  z-index: -4;
}

.hero {
  padding-block: 20px;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-inner {
  max-width: 550px;
  width: 100%;
  padding: 30px;
  background-color: transparent;
  border: 1px solid #ffffff80;
  box-shadow: 0 0 20px #ffffff80;
  border-top-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
  backdrop-filter: blur(40px);
}

.hero-title {
  display: block;
  padding-right: 30px;
  margin-block: 0 20px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.title-text {
  font-size: 48px;
  color: transparent;
  background-image: linear-gradient(red, orange);
  background-clip: text;
}

.hero-desc {
  margin-block: 0 30px;
  font-size: 20px;
  color: #fff;
}

.hero-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(45deg, rgb(50, 182, 209), rgb(0, 81, 255));
  border-radius: 30px;
}

.hero-box {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  width: 400px;
  height: 550px;
  overflow: hidden;
  border-radius: 20px;
}

.hero-box::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 130%;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  animation: rotateBgImage 3s linear infinite;
  transition: all 0.3s ease-in-out;
}

.hero-box::after {
  position: absolute;
  content: "";
  background-color: #071c38;
  inset: 5px;
  border-radius: 15px;
}

@keyframes rotateBgImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-pic {
  width: 250px;
  z-index: 1;
  filter: drop-shadow(2px 2px 20px rgb(0, 140, 255));
}

.family {
  padding-block: 50px;
}

.family-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.family-inner {
  max-width: 550px;
  width: 100%;
  padding: 30px;
  background-color: transparent;
  border: 1px solid #ffffff80;
  box-shadow: 0 0 20px #ffffff80;
  border-top-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
  backdrop-filter: blur(40px);
}

.family-title {
  margin-block: 0 20px;
  font-size: 24px;
  color: #fff;
}

.family-desc {
  margin-block: 0 30px;
  font-size: 20px;
  color: #fff;
}

.family-desk{
  color: #fff;
}

.family-wr{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.family-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(45deg, rgb(50, 182, 209), rgb(0, 81, 255));
  border-radius: 30px;
}

.family-pic {
  width: 450px;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 20px orangered);
}

.group {
  padding-block: 50px;
}

.group-title {
  margin-block: 0 40px;
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.scroller {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.scroller:hover .group-list {
  animation-play-state: paused;
}

.group-list {
  display: flex;
  column-gap: 30px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 350px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.group-item-pic {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.item-box {
  padding: 20px 30px;
  color: #fff;
}

.project {
  padding-block: 50px;
}

.project-title {
  margin-block: 0 40px;
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.project-wrapper:hover .project-list {
  animation-play-state: paused;
}

.project-list {
  position: relative;
  width: 200px;
  height: 350px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: gallery 20s linear infinite;
}

.project-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 60deg)) translateZ(500px);
  --webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.project-item-pic {
  position: absolute;
  width: 350px;
  height: 250px;
  border: 6px ridge #fff;
  border-radius: 10px;
}

@keyframes gallery {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(-360deg);
  }
}

.site-footer {
  padding-block: 30px;
  background-image: linear-gradient(135deg, rgb(0, 183, 255), rgb(255, 48, 255));
}

.social-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.socail-link {
  display: inline-block;
  font-size: 40px;
  color: #fff;
}

.login-btn{
  display: flex;
  align-items: center;
}

nav{
  display: flex;
  align-items: center;
}

nav a{
  margin:0 10px;
  color:white;
  text-decoration:none;
}

.login-btn{
  background:#000000;
  color:white;
  padding:8px 20px;
  border-radius:20px;
  cursor:pointer;
}

#show{
  display:none;
}

.form-container{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  z-index: 5;
}

#show:checked ~ .form-container{
  display:flex;
}

.form-box{
  background:#0866a493;
  padding:40px;
  border-radius:15px;
  width:350px;
  text-align:center;
}

.form-box input{
  width:100%;
  margin:10px 0;
  padding:10px;
  border-radius:8px;
  border:1px solid gray;
}

.submit{
  margin-top:10px;
  background:#2bbfa7;
  color:white;
  border:none;
  padding:10px 25px;
  border-radius:20px;
  cursor:pointer;
}

.close{
  display:block;
  margin-bottom:10px;
  cursor:pointer;
  color:gray;
}

.wr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
}

.footer-list{
  display: flex;
  column-gap: 20px;
}

.tel-link{
  max-width: 100px;
  width: 100%;
  height: 40px;
}

.ins-link{
  max-width: 60px;
  width: 100%;
  height: 40px;
}